openapi: 3.1.0
info:
  title: 闪卡 App 后端 API
  version: 2.4.0
  description: >
    闪卡 App v2.4 接口契约(机器可读版)。行为契约(状态机、幂等、FSRS 排程、
    错误码语义)见 structure-contract.md;需求依据 PRD v2.2(继承 v2.1)。
    所有业务接口需携带 Authorization: Bearer(register/login 与探针豁免);写操作需携带
    Idempotency-Key(POST /samples 豁免)。
    限流:写接口 60 req/min/user、IP 5 req/s,超限返回 429 + Retry-After(详见 structure-contract.md 1.6)。
    5xx(INTERNAL_ERROR / GENERATION_FAILED)由全局中间件统一处理,未逐操作声明。
    列表接口 MVP 暂不分页;幂等重放返回首次成功结果(2xx,含 204)。

servers:
  - url: https://shanka.kbzz1.top

security:
  - BearerAuth: []

tags:
  - name: auth
    description: 账号注册、登录与会话(FR-19,决策 D-05)
  - name: pdf
    description: PDF 上传、解析与章节(FR-01/FR-02)
  - name: api-key
    description: DeepSeek API Key 校验与状态(FR-17,决策 D-03)
  - name: samples
    description: 样卡生成(FR-05)
  - name: tasks
    description: 生成任务(FR-06/07/12)
  - name: decks
    description: 牌组与卡片(FR-03/14)
  - name: review
    description: 复习(FR-15,FSRS-6)
  - name: stats
    description: 数据看板(FR-16)

paths:
  # ---------- 账号(V2.2,决策 D-05) ----------
  /auth/register:
    post:
      tags: [auth]
      summary: 创建用户并建立会话
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRegisterRequest'
      responses:
        '201':
          description: 用户与会话已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/login:
    post:
      tags: [auth]
      summary: 校验凭据并建立新会话
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/logout:
    post:
      tags: [auth]
      summary: 撤销当前会话
      operationId: logout
      responses:
        '204':
          description: 当前会话已撤销
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/me:
    get:
      tags: [auth]
      summary: 返回当前用户最小资料
      operationId: me
      responses:
        '200':
          description: 当前用户
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user:
                    $ref: '#/components/schemas/AuthUser'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ---------- PDF ----------
  /pdfs:
    post:
      tags: [pdf]
      summary: 上传 PDF,服务端异步解析(文本层 + 目录结构)
      operationId: uploadPdf
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF 文件(HTTPS 传输)
      responses:
        '201':
          description: 已接收,进入 PARSING
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [pdf]
      summary: 最近使用的 PDF 列表
      operationId: listPdfs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/PdfFile'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /pdfs/{file_id}:
    parameters:
      - $ref: '#/components/parameters/FileId'
    get:
      tags: [pdf]
      summary: PDF 详情与章节列表(解析完成前可轮询)
      operationId: getPdf
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfFile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [pdf]
      summary: 删除 PDF 元数据;存在非终态任务引用时返回 409 TASK_IN_PROGRESS
      operationId: deletePdf
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: 已删除
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /pdfs/{file_id}/chapters/{chapter_id}:
    parameters:
      - $ref: '#/components/parameters/FileId'
      - $ref: '#/components/parameters/ChapterId'
    delete:
      tags: [pdf]
      summary: 删除章节(关联 knowledge_points.chapter_id 置 null;历史任务快照不受影响)
      operationId: deleteChapter
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: 已删除
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    patch:
      tags: [pdf]
      summary: 修改章节名称 / 起始页 / 结束页(PRD 4.1 第 3 步、AC-02)
      operationId: updateChapter
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterUpdateRequest'
      responses:
        '200':
          description: 已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- API Key ----------
  /api-key:
    put:
      tags: [api-key]
      summary: 验证并保存 DeepSeek API Key(仅返回状态与脱敏标识)
      operationId: saveApiKey
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [api_key]
              properties:
                api_key:
                  type: string
                  description: DeepSeek API Key,经 TLS 传输,不落日志
      responses:
        '200':
          description: 校验完成,返回状态(可能为 INVALID / INSUFFICIENT_BALANCE)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          description: 上游校验不可用(API_KEY_UNAVAILABLE),可重试
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api-key/status:
    get:
      tags: [api-key]
      summary: 查询已保存 Key 的状态
      operationId: getApiKeyStatus
      responses:
        '200':
          description: OK;未保存 Key 时返回 status=UNKNOWN 且 masked_key 为空串
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ---------- 样卡 ----------
  /samples:
    post:
      tags: [samples]
      summary: 生成 3 张样卡(基础/理解/应用 各 1;问答 2 + 判断 1),不入库
      operationId: generateSamples
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SampleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [sample_cards]
                properties:
                  sample_cards:
                    type: array
                    minItems: 3
                    maxItems: 3
                    items:
                      $ref: '#/components/schemas/SampleCard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- 任务 ----------
  /tasks:
    post:
      tags: [tasks]
      summary: 接受样卡,创建生成任务并启动(知识点规划 + 分批生成)
      operationId: createTask
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreateRequest'
      responses:
        '201':
          description: 任务已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'

  /tasks/{task_id}:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    get:
      tags: [tasks]
      summary: 任务详情(长任务轮询:状态、stage、已生成数、批次进度、失败码、是否可继续)
      operationId: getTask
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{task_id}/resume:
    post:
      tags: [tasks]
      summary: 继续任务(断点续传,仅处理未完成批次)
      operationId: resumeTask
      parameters:
        - $ref: '#/components/parameters/TaskId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: 任务恢复
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /tasks/{task_id}/cancel:
    post:
      tags: [tasks]
      summary: 取消任务(已入库卡片保留)
      operationId: cancelTask
      parameters:
        - $ref: '#/components/parameters/TaskId'
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: 已取消
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- 牌组与卡片 ----------
  /decks:
    get:
      tags: [decks]
      summary: 牌组列表(含进度摘要)
      operationId: listDecks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deck'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [decks]
      summary: 新建牌组
      operationId: createDeck
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
      responses:
        '201':
          description: 已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /decks/{deck_id}:
    parameters:
      - $ref: '#/components/parameters/DeckId'
    get:
      tags: [decks]
      summary: 牌组详情与进度(真实聚合数据)
      operationId: getDeck
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deck'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [decks]
      summary: 牌组改名(version 递增供缓存刷新)
      operationId: renameDeck
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 64
      responses:
        '200':
          description: 改名后的牌组(含真实进度)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [decks]
      summary: 删除牌组及其卡片、复习状态与统计(重复提交安全返回;存在非终态任务引用时 409 TASK_IN_PROGRESS)
      operationId: deleteDeck
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: 已删除
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /decks/{deck_id}/cards:
    parameters:
      - $ref: '#/components/parameters/DeckId'
    get:
      tags: [decks]
      summary: 牌组全部卡片(自由刷题,仅浏览)
      operationId: listCards
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Card'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags: [decks]
      summary: 手动新增问答卡(校验 front/back 非空,分配 position)
      operationId: createCard
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [front, back]
              properties:
                front:
                  type: string
                  minLength: 1
                back:
                  type: string
                  minLength: 1
      responses:
        '201':
          description: 已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /decks/{deck_id}/cards/import:
    post:
      tags: [decks]
      summary: 批量导入问答卡(原子写入,返回逐张结果)
      operationId: importCards
      parameters:
        - $ref: '#/components/parameters/DeckId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [cards]
              properties:
                cards:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [front, back]
                    properties:
                      front:
                        type: string
                        minLength: 1
                      back:
                        type: string
                        minLength: 1
      responses:
        '201':
          description: 写入完成(含逐张结果)
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required: [index, status]
                      properties:
                        index:
                          type: integer
                          description: 对应请求 cards 下标
                        status:
                          type: string
                          enum: [CREATED, FAILED]
                        card_id:
                          type: string
                          format: uuid
                        error:
                          $ref: '#/components/schemas/Error'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- 复习 ----------
  /decks/{deck_id}/review:
    get:
      tags: [review]
      summary: 到期复习队列(due <= now,按 due、position 排序)
      operationId: getReviewQueue
      parameters:
        - $ref: '#/components/parameters/DeckId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewQueueItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /review-events:
    post:
      tags: [review]
      summary: 提交复习评级,返回更新后的 FSRS 复习状态
      operationId: submitReviewEvent
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewEventRequest'
      responses:
        '200':
          description: 已处理(幂等重放时返回首次结果)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewState'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- 单卡重写 ----------
  /cards/{card_id}:
    parameters:
      - $ref: '#/components/parameters/CardId'
    patch:
      tags: [decks]
      summary: 编辑卡片(内容覆盖 + ReviewState 重置为新卡,与重写同语义;version 递增)
      operationId: updateCard
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [front, back]
              properties:
                front:
                  type: string
                  minLength: 1
                back:
                  type: string
                  minLength: 1
      responses:
        '200':
          description: 编辑后的卡片
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [decks]
      summary: 删除单卡(级联清理 review_states/review_events;重复提交安全返回)
      operationId: deleteCard
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '204':
          description: 已删除
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /cards/{card_id}/rewrite:
    post:
      tags: [decks]
      summary: 单卡重写(新版本通过 Schema 校验后替换原卡,失败保留原卡)
      operationId: rewriteCard
      parameters:
        - $ref: '#/components/parameters/CardId'
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                custom_requirements:
                  type: string
                  description: 本次重写的附加要求(可选)
      responses:
        '200':
          description: 重写完成,返回新卡
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/Unprocessable'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          description: 上游校验不可用(API_KEY_UNAVAILABLE),可重试
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ---------- 质量观测 ----------
  /tasks/{task_id}/batches:
    parameters:
      - $ref: '#/components/parameters/TaskId'
    get:
      tags: [tasks]
      summary: 批次列表,含单卡 Rubric 汇总、质量分布与 Prompt Cache 记录(AC-07 观测,契约 6.9)
      operationId: listTaskBatches
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Batch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ---------- 数据看板 ----------
  /stats/dashboard:
    get:
      tags: [stats]
      summary: 当前自然周数据看板(周一起始,按上报时区分桶)
      operationId: getDashboard
      parameters:
        - name: timezone
          in: query
          required: true
          schema:
            type: string
            example: Asia/Shanghai
            description: IANA 时区名称
        - name: weekly_goal
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: 客户端本地保存的周目标,随请求上报;未传时 weekly_goal/weekly_goal_progress 返回 null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsDashboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /healthz:
    servers:
      - url: https://shanka.kbzz1.top
    get:
      summary: 存活探针
      tags: [observability]
      security: []
      responses:
        "200":
          description: 进程存活
  /readyz:
    servers:
      - url: https://shanka.kbzz1.top
    get:
      summary: 就绪探针
      tags: [observability]
      security: []
      responses:
        "200":
          description: DB 连接与存储可写
        "503":
          description: 依赖不可用
  /observability/quality-summary:
    get:
      summary: 跨任务质量聚合观测（契约 6.10）
      tags: [observability]
      parameters:
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [model, pdf, difficulty]
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: 质量聚合结果（Rubric 均分 / 覆盖重复率 / 完成率 / 成本汇总）
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QualitySummary"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: opaque Bearer session token(注册/登录签发,服务端只存 SHA-256 摘要;决策 D-05)

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: 幂等键,客户端生成;重复请求返回首次成功结果(见 structure-contract.md 1.3)
    FileId:
      name: file_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ChapterId:
      name: chapter_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TaskId:
      name: task_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DeckId:
      name: deck_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CardId:
      name: card_id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    # ---- 枚举 ----
    PdfStatus:
      type: string
      enum: [PENDING, PARSING, PARSED, FAILED]
    TaskStatus:
      type: string
      enum: [PENDING, RUNNING, PAUSED, COMPLETED, FAILED, CANCELLED]
    TaskStage:
      type: string
      enum: [PLANNING, GENERATING, SCORING]
      description: 运行期阶段;PENDING 创建即 stage=PLANNING(规划 worker 异步接管)
    FailureStage:
      type: string
      enum: [PLANNING, GENERATING, SCORING, WRITE_BACK]
    QuantityTendency:
      type: string
      enum: [COMPACT, BALANCED, EXTENSIVE]
    Difficulty:
      type: string
      enum: [BASIC, UNDERSTANDING, APPLICATION]
    KnowledgePointStatus:
      type: string
      enum: [PENDING, PROCESSED, SKIPPED]
    BatchStatus:
      type: string
      enum: [PENDING, PROCESSING, SUCCEEDED, FAILED, SKIPPED]
    DeckSource:
      type: string
      enum: [MANUAL, IMPORTED, GENERATED]
      description: GENERATED 为 PDF 制卡新建的归属牌组
    CardSource:
      type: string
      enum: [GENERATED, MANUAL, IMPORTED]
    CardType:
      type: string
      enum: [QUESTION, TRUE_FALSE]
    ReviewStateValue:
      type: string
      enum: [NEW, LEARNING, REVIEW, RELEARNING]
    Rating:
      type: string
      enum: [AGAIN, HARD, GOOD, EASY]
    ApiKeyStatus:
      type: string
      enum: [AVAILABLE, INVALID, INSUFFICIENT_BALANCE, UNKNOWN]
      description: 校验结果经 200 + status 返回,不产生错误响应;未保存 Key 时 UNKNOWN(契约 6.2)

    # ---- 资源模型(与 structure-contract.md 第 3 章一致)----
    Error:
      type: object
      required: [error]
      description: 统一错误响应,外层 error 包装(契约 1.4)
      properties:
        error:
          type: object
          required: [code, message, localization_key]
          properties:
            code:
              type: string
              description: 稳定错误码(见 structure-contract.md 第 7 章)
            message:
              type: string
              description: 面向用户的补充信息,不含内部细节
            localization_key:
              type: string

    ApiKey:
      type: object
      required: [status, masked_key, updated_at]
      properties:
        status:
          $ref: '#/components/schemas/ApiKeyStatus'
        masked_key:
          type: string
          description: 脱敏标识,如 sk-****abcd,禁止返回完整 Key(决策 D-03)
        updated_at:
          type: string
          format: date-time

    Chapter:
      type: object
      required: [chapter_id, name, start_page, end_page]
      properties:
        chapter_id:
          type: string
          format: uuid
        name:
          type: string
        start_page:
          type: integer
          minimum: 1
        end_page:
          type: integer
          minimum: 1

    ChapterUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: 章节名称,可修改
        start_page:
          type: integer
          minimum: 1
        end_page:
          type: integer
          minimum: 1
      description: 至少提供一个字段;未提供的字段保持不变(PRD 5.2)

    PdfFile:
      type: object
      required: [file_id, filename, size_bytes, status, created_at]
      properties:
        file_id:
          type: string
          format: uuid
        filename:
          type: string
        size_bytes:
          type: integer
        status:
          $ref: '#/components/schemas/PdfStatus'
        error_code:
          type: [string, 'null']
          description: PDF_PARSE_FAILED / PDF_TOC_MISSING
        chapters:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/Chapter'
        created_at:
          type: string
          format: date-time

    DifficultyRatio:
      type: object
      required: [basic, understanding, application]
      properties:
        basic:
          type: number
          description: 基础记忆,默认 0.4
        understanding:
          type: number
          description: 理解分析,默认 0.4
        application:
          type: number
          description: 综合应用,默认 0.2

    GenerationConfig:
      type: object
      required: [quantity_tendency, difficulty_ratio]
      properties:
        quantity_tendency:
          $ref: '#/components/schemas/QuantityTendency'
        difficulty_ratio:
          $ref: '#/components/schemas/DifficultyRatio'
        custom_requirements:
          type: [string, 'null']

    TaskCursor:
      type: object
      required: [completed_batch_count]
      properties:
        completed_batch_count:
          type: integer

    Task:
      type: object
      required:
        - task_id
        - file_id
        - deck_id
        - status
        - selected_chapters
        - generation_config
        - generated_card_count
        - skipped_planning_group_count
        - resumable
        - created_at
        - updated_at
      properties:
        task_id:
          type: string
          format: uuid
        file_id:
          type: [string, 'null']
          format: uuid
          description: 创建时必填;删除 PDF 后置 null(任务保留)
        deck_id:
          type: [string, 'null']
          format: uuid
          description: 创建时必填;删除牌组后置 null(任务保留)
        status:
          $ref: '#/components/schemas/TaskStatus'
        stage:
          $ref: '#/components/schemas/TaskStage'
        selected_chapters:
          type: array
          items:
            $ref: '#/components/schemas/Chapter'
          description: 两阶段语义:PENDING 时为创建快照;首次 PLANNING 抢占时重读章节最新页码原子覆盖并冻结为规划快照(契约 4.1)
        generation_config:
          $ref: '#/components/schemas/GenerationConfig'
        cursor:
          $ref: '#/components/schemas/TaskCursor'
        generated_card_count:
          type: integer
        total_batch_count:
          type: [integer, 'null']
        completed_batch_count:
          type: [integer, 'null']
        completion_reason:
          type: [string, 'null']
          description: NO_GENERATION_UNITS(全组规划成功但 0 个合法单元的业务空结果,COMPLETED)
        skipped_planning_group_count:
          type: integer
          description: 部分规划组失败被跳过的组数(仅部分成功时 > 0)
        resumable:
          type: boolean
        failure_stage:
          $ref: '#/components/schemas/FailureStage'
        error_code:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        started_at:
          type: [string, 'null']
          format: date-time
        ended_at:
          type: [string, 'null']
          format: date-time
        updated_at:
          type: string
          format: date-time

    TaskCreateRequest:
      type: object
      required: [file_id, deck_id, chapter_ids, generation_config]
      properties:
        file_id:
          type: string
          format: uuid
        deck_id:
          type: string
          format: uuid
        chapter_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        generation_config:
          $ref: '#/components/schemas/GenerationConfig'
      description: 接受样卡后创建任务;请求中不携带 API Key,服务端使用已保存 Key

    SampleCard:
      type: object
      required: [card_id, front, back, card_type]
      properties:
        card_id:
          type: string
          format: uuid
        front:
          type: string
        back:
          type: string
        code:
          type: [string, 'null']
          description: 卡片编号
        card_type:
          type: string
          enum: [QUESTION, TRUE_FALSE]
        question:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        answer:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        statement:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡
        answer_boolean:
          type: [boolean, 'null']
          description: 仅 TRUE_FALSE 卡
        explanation:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡
        target_difficulty:
          type: [string, 'null']
          enum: [BASIC, UNDERSTANDING, APPLICATION]
          description: 生成时目标难度

    SampleRequest:
      type: object
      required: [file_id, chapter_ids, generation_config]
      properties:
        file_id:
          type: string
          format: uuid
        chapter_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        generation_config:
          $ref: '#/components/schemas/GenerationConfig'

    KnowledgePoint:
      type: object
      description: 内部资源(契约 3.6 生成单元;表名保持 knowledge_points 兼容壳);本期无独立接口,经任务详情与批次观测间接呈现。规划锚定列(target_difficulty/card_type/source_chunk_ids)与学习目标(topic 列语义)在内部表中,视图仅承载观测七字段
      required:
        - knowledge_point_id
        - task_id
        - chapter_id
        - source_chunk_id
        - topic
        - priority
        - status
      properties:
        knowledge_point_id:
          type: string
          format: uuid
        task_id:
          type: string
          format: uuid
        chapter_id:
          type: string
          format: uuid
        source_chunk_id:
          type: string
        topic:
          type: string
        priority:
          type: integer
        status:
          $ref: '#/components/schemas/KnowledgePointStatus'

    Batch:
      type: object
      description: 内部资源(契约 3.7;批=生成单元,每单元 1 批 1 次生成调用,每单元 1 卡);经 GET /v1/tasks/{task_id}/batches 观测返回(契约 6.9)。generation_unit_id 为内部列(观测归因用),视图不返回;尝试数与 token 权威在 llm_call_attempts 账本,Batch token/版本列为生成阶段兼容投影
      required: [batch_id, task_id, batch_index, status, retry_count]
      properties:
        batch_id:
          type: string
          format: uuid
        task_id:
          type: string
          format: uuid
        batch_index:
          type: integer
        status:
          $ref: '#/components/schemas/BatchStatus'
        generated_item_ids:
          type: [array, 'null']
          items:
            type: string
        retry_count:
          type: integer
        coverage_rate:
          type: [number, 'null']
        duplicate_rate:
          type: [number, 'null']
        difficulty_distribution:
          type: [object, 'null']
        chapter_distribution:
          type: [object, 'null']
        card_type_distribution:
          type: [object, 'null']
        cache_hit_tokens:
          type: [integer, 'null']
        cache_miss_tokens:
          type: [integer, 'null']
        output_tokens:
          type: [integer, 'null']
        difficulty_deviation:
          type: [number, 'null']
        request_id:
          type: [string, 'null']
        model:
          type: [string, 'null']
        prompt_version:
          type: [string, 'null']
        schema_version:
          type: [string, 'null']
        rubric_version:
          type: [string, 'null']
        duration_ms:
          type: [integer, 'null']
        http_status:
          type: [integer, 'null']
        cost_estimate:
          type: [number, 'null']
          description: 估算金额(元, 按生效日期价格常量换算, 仅观测不落库; 契约 8.4)
        created_at:
          type: string
          format: date-time
        ended_at:
          type: [string, 'null']
          format: date-time

    Deck:
      type: object
      required:
        - deck_id
        - name
        - source
        - card_count
        - due_count
        - mastered_card_count
        - review_count
        - mastery_ratio
        - created_at
        - updated_at
        - version
      properties:
        deck_id:
          type: string
          format: uuid
        name:
          type: string
        source:
          $ref: '#/components/schemas/DeckSource'
        card_count:
          type: integer
        due_count:
          type: integer
        mastered_card_count:
          type: integer
        review_count:
          type: integer
        mastery_ratio:
          type: number
          description: mastered_card_count / card_count,card_count 为 0 时为 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        version:
          type: string
          description: 版本号,客户端刷新缓存用

    Card:
      type: object
      required:
        - card_id
        - deck_id
        - source
        - position
        - front
        - back
        - card_type
        - version
        - created_at
        - updated_at
      properties:
        card_id:
          type: string
          format: uuid
        deck_id:
          type: string
          format: uuid
        source:
          $ref: '#/components/schemas/CardSource'
        position:
          type: integer
        front:
          type: string
        back:
          type: string
        code:
          type: [string, 'null']
        card_type:
          $ref: '#/components/schemas/CardType'
        question:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        answer:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        statement:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡(决策 D-01)
        answer_boolean:
          type: [boolean, 'null']
          description: 仅 TRUE_FALSE 卡
        explanation:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡
        generation_item_id:
          type: [string, 'null']
          description: 仅 GENERATED 卡;同一值最多对应一张有效卡片
        target_difficulty:
          type: [string, 'null']
          enum: [BASIC, UNDERSTANDING, APPLICATION]
          description: 仅 GENERATED 卡;生成时目标难度
        knowledge_point_ids:
          type: [array, 'null']
          items:
            type: string
            format: uuid
          description: 仅 GENERATED 卡;关联知识点,综合应用卡可多个(PRD 5.6)
        evidence_score:
          type: [integer, 'null']
          description: Rubric 原文依据 0~3,仅 GENERATED 卡
        correctness_score:
          type: [integer, 'null']
          description: Rubric 答案正确性 0~3,仅 GENERATED 卡
        difficulty_score:
          type: [integer, 'null']
          description: Rubric 难度匹配 0~3,仅 GENERATED 卡
        learning_value_score:
          type: [integer, 'null']
          description: Rubric 学习价值 0~3,仅 GENERATED 卡
        rubric_total_score:
          type: [integer, 'null']
          description: Rubric 总分 0~12,仅 GENERATED 卡
        version:
          type: string
          description: 变更版本,客户端缓存刷新用(重写时递增,决策 C-05)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ReviewState:
      type: object
      required:
        - review_state_id
        - card_id
        - state
        - stability
        - difficulty
        - due
        - reps
        - lapses
        - updated_at
      properties:
        review_state_id:
          type: string
          format: uuid
        card_id:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/ReviewStateValue'
        stability:
          type: number
          description: FSRS 稳定性(天)
        difficulty:
          type: number
          description: FSRS 难度(0~10)
        due:
          type: string
          format: date-time
          description: 下次到期时间(服务端时间)
        last_review:
          type: [string, 'null']
          format: date-time
        reps:
          type: integer
        lapses:
          type: integer
        last_rating:
          $ref: '#/components/schemas/Rating'
        updated_at:
          type: string
          format: date-time

    ReviewEvent:
      type: object
      required: [review_event_id, client_event_id, card_id, rating, reviewed_at, device_timezone, created_at]
      properties:
        review_event_id:
          type: string
          format: uuid
        client_event_id:
          type: string
          format: uuid
          description: 客户端生成,设备内唯一,离线重试幂等
        card_id:
          type: string
          format: uuid
        rating:
          $ref: '#/components/schemas/Rating'
        reviewed_at:
          type: string
          format: date-time
          description: 服务端时间
        device_timezone:
          type: string
        created_at:
          type: string
          format: date-time
      description: 不可变记录(契约 3.11);本期无查询接口,评级提交时服务端内部使用

    ReviewEventRequest:
      type: object
      required: [card_id, rating, client_event_id, device_timezone]
      properties:
        card_id:
          type: string
          format: uuid
        rating:
          $ref: '#/components/schemas/Rating'
        client_event_id:
          type: string
          format: uuid
          description: 客户端生成,设备内唯一,离线重试幂等
        device_timezone:
          type: string
          example: Asia/Shanghai
          description: IANA 时区,仅看板分桶用

    ReviewQueueItem:
      allOf:
        - $ref: '#/components/schemas/Card'
        - type: object
          required: [review_state]
          properties:
            review_state:
              $ref: '#/components/schemas/ReviewState'

    StatsDashboard:
      type: object
      required:
        - period
        - timezone
        - weekly_activity
        - weekly_total
        - week_change_rate
        - weekly_goal
        - weekly_goal_progress
        - recall_accuracy
        - first_answer_accuracy
        - retention_rate
        - streak_days
        - mastered_card_count
        - updated_at
        - has_data
      properties:
        period:
          type: object
          required: [start, end, week_ordinal]
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
            week_ordinal:
              type: integer
        timezone:
          type: string
        weekly_activity:
          type: array
          minItems: 7
          maxItems: 7
          items:
            type: integer
          description: 周一~周日每日复习事件数
        weekly_total:
          type: integer
        week_change_rate:
          type: [number, 'null']
          description: 上周为 0 时返回 null(客户端显示"暂无对比")
        weekly_goal:
          type: [integer, 'null']
          description: 客户端随请求上报(见 /stats/dashboard 查询参数),未上报时 null
        weekly_goal_progress:
          type: [number, 'null']
          description: min(weekly_total / weekly_goal, 1),goal 未上报时 null
        updated_at:
          type: string
          format: date-time
          description: 聚合快照生成时间(PRD 6.6,客户端据此判断缓存过期)
        recall_accuracy:
          type: [number, 'null']
          description: 周期内 GOOD 事件 / 全部事件,分母为 0 时 null
        first_answer_accuracy:
          type: [number, 'null']
          description: 首次评级为 GOOD 的卡数 / 首次复习卡数,分母为 0 时 null
        retention_rate:
          type: [number, 'null']
          description: 非首次事件中 GOOD 数 / 非首次事件数,分母为 0 时 null
        streak_days:
          type: integer
          description: 截至用户本地当天连续有复习事件的自然日数;按本次请求 timezone 分桶,不按各事件 device_timezone
        mastered_card_count:
          type: integer
          description: 掌握卡片数(state=REVIEW 且 stability>=21 天)
        has_data:
          type: boolean
          description: false 时客户端展示空态
    QualitySummary:
      type: object
      properties:
        group_by:
          type: string
          description: model=batch.model;pdf=任务 file_id;difficulty=Batch.generation_unit_id 对应单元的 target_difficulty(单元缺失/锚定缺失为 unknown)
        groups:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              rubric_version:
                type: [string, 'null']
                description: 分组按批次 rubric_version 拆子组;跨版本窗口不混算(null 为无评分版本批次)
              card_count:
                type: integer
                description: 经批次归属的卡数(= eligible_card_count)
              eligible_card_count:
                type: integer
                description: 评分样本候选卡数(经批次归属)
              scored_card_count:
                type: integer
                description: rubric_total_score 非 NULL 的卡数(已被评分口径)
              sampling_rate:
                type: [number, 'null']
                description: scored_card_count / eligible_card_count;分母 0 时为 null
              evidence_avg:
                type: number
                format: float
                description: 仅以 evidence_score 非 NULL 的卡为分母(NULL 不计 0 分)
              correctness_avg:
                type: number
                format: float
              difficulty_avg:
                type: number
                format: float
              learning_value_avg:
                type: number
                format: float
              coverage_avg:
                type: number
                format: float
                description: 含 SKIPPED 批次(coverage=0 计入分母)
              duplicate_avg:
                type: number
                format: float
              task_completion_rate:
                type: number
                format: float
              cost_estimate:
                type: object
                properties:
                  cache_hit:
                    type: number
                    description: 估算金额(元)
                  cache_miss:
                    type: number
                  output:
                    type: number
                  total:
                    type: number
                  scope:
                    type: string
                    description: 恒为 generation-stage-only(Batch token 为生成阶段兼容投影,非全链路成本)
        days:
          type: integer
        generated_at:
          type: string
    # ---- 账号(V2.2,决策 D-05;结构契约 3.14/3.15) ----
    AuthRegisterRequest:
      type: object
      required: [username, email, password]
      properties:
        username:
          type: string
          minLength: 1
          maxLength: 24
          description: 展示名（中文/字母/数字/._-，可重名）
        email:
          type: string
          minLength: 3
          maxLength: 254
          description: 登录键；服务端转小写规范化
        password:
          type: string
          minLength: 8
          maxLength: 128
          format: password
          description: 8~128 字符,不截断、不 normalization
    AuthLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          minLength: 3
          maxLength: 254
        password:
          type: string
          minLength: 8
          maxLength: 128
          format: password
    AuthUser:
      type: object
      required: [user_id, username, created_at]
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
          description: 1~24 位展示名，中文/字母/数字/._-，可重名
        created_at:
          type: string
          description: ISO 8601 UTC(结构契约 1.2)
    AuthSessionResponse:
      type: object
      required: [user, access_token, token_type, expires_at]
      properties:
        user:
          $ref: '#/components/schemas/AuthUser'
        access_token:
          type: string
          description: 256-bit 随机 opaque token;仅本响应与客户端安全存储出现
        token_type:
          type: string
          enum: [Bearer]
        expires_at:
          type: string
          description: 会话绝对过期时间(签发 + 30 天,ISO 8601 UTC)

  responses:
    BadRequest:
      description: 请求非法
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: >-
        受保护接口:缺失、非法、撤销或过期的 Bearer 会话(AUTH_REQUIRED / AUTH_INVALID,携带 WWW-Authenticate: Bearer);
        登录接口:凭据错误(INVALID_CREDENTIALS)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: 状态冲突或幂等内容不一致
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unprocessable:
      description: 业务校验失败(如 PDF_TOC_MISSING、API_KEY_INVALID)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: 限流
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
