openapi: 3.1.0
info:
  title: 闪卡 App 后端 API
  version: 2.5.0
  description: >
    闪卡 App v2.5 接口契约(机器可读版)。行为契约(状态机、幂等、FSRS 排程、
    错误码语义)见 structure-contract.md;需求依据 PRD v2.5(增量继承 v2.4~v2.1)。
    所有业务接口需携带 Authorization: Bearer(register/login 与探针豁免);写操作需携带
    Idempotency-Key。
    限流:写接口 60 req/min/user、IP 5 req/s,超限返回 429 + Retry-After(详见 structure-contract.md 1.6)。
    5xx(INTERNAL_ERROR / GENERATION_FAILED)由全局中间件统一处理,未逐操作声明。
    列表接口 MVP 暂不分页;幂等重放返回首次成功结果(2xx,含 204)。
    多资料模型(V2.5 增量):项目是资料集合,旧 /pdfs 路径已移除(structure-contract 6.2)。

servers:
  - url: https://shanka.kbzz1.top

security:
  - BearerAuth: []

tags:
  - name: auth
    description: 账号注册、登录与会话(FR-19,决策 D-05;V2.5 email/avatar_key)
  - name: preferences
    description: 账号偏好(V2.5:覆盖深度、整数比例、每日目标、学习时区、当前项目)
  - name: projects
    description: 学习项目、PDF 与章节(V2.5)
  - name: pdf
    description: PDF 兼容路径(过渡期委托项目接口)
  - name: api-key
    description: DeepSeek API Key 校验与状态(FR-17,决策 D-03)
  - name: tasks
    description: 制卡任务(V2.5 七态:草稿/样卡/生成/完成/失败/放弃)
  - name: decks
    description: 牌组与卡片(FR-03/14;V2.5 project_id/删除批次/重写预览)
  - name: study
    description: 今日学习计划(V2.5)
  - name: review
    description: 复习(FR-15,FSRS-6)
  - name: stats
    description: 数据看板(FR-16;V2.5 服务端时区/周目标)

paths:
  # ---------- 账号(V2.2,决策 D-05) ----------
  /auth/register:
    post:
      tags: [auth]
      summary: 创建用户并建立会话
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRegisterRequest'
      responses:
        '201':
          description: 用户与会话已创建
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/login:
    post:
      tags: [auth]
      summary: 校验凭据并建立新会话
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginRequest'
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /auth/logout:
    post:
      tags: [auth]
      summary: 撤销当前会话
      operationId: logout
      responses:
        '204':
          description: 当前会话已撤销
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/me:
    get:
      tags: [auth]
      summary: 返回当前用户资料(含 email、avatar_key)
      operationId: me
      responses:
        '200':
          description: 当前用户
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user:
                    $ref: '#/components/schemas/AuthUser'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [auth]
      summary: 修改昵称或预设头像({username?, avatar_key?},至少一个字段;email 只读)
      operationId: updateMe
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthMeUpdateRequest'
      responses:
        '200':
          description: 更新后的用户
          content:
            application/json:
              schema:
                type: object
                required: [user]
                properties:
                  user:
                    $ref: '#/components/schemas/AuthUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- 账号偏好(V2.5) ----------
  /preferences:
    get:
      tags: [preferences]
      summary: 返回账号偏好(覆盖深度、整数比例、每日目标、学习时区、当前项目)
      operationId: getPreferences
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      tags: [preferences]
      summary: 部分更新偏好;比例、目标、IANA 时区服务端校验
      operationId: updatePreferences
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferencesUpdateRequest'
      responses:
        '200':
          description: 更新后的偏好
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPreferences'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- 学习项目与章节(V2.5) ----------
  /projects:
    post:
      tags: [projects]
      summary: 建立学习项目(两步创建第一步:仅名称的空项目;资料经 materials 端点添加)
      operationId: createProject
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 60
                  description: 去首尾空白后 1~60 字符,可重名
      responses:
        '201':
          description: 空项目已建立(status=EMPTY)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningProject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
    get:
      tags: [projects]
      summary: 当前用户项目列表(支持真实空态)
      operationId: listProjects
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LearningProject'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /projects/{project_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      summary: 项目详情(含 file/chapters 摘要与派生计数;PARSING 时轮询)
      operationId: getProject
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningProject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [projects]
      summary: 重命名(去首尾空白后 1~60 字符,可重名)
      operationId: renameProject
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 60
      responses:
        '200':
          description: 更新后的项目
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningProject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [projects]
      summary: 删除项目(服务端自动取消活跃制卡任务;retain_decks 选择保留或删除全部项目牌组)
      operationId: deleteProject
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: retain_decks
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '204':
          description: 已删除
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{project_id}/deletion-preflight:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      summary: 删除项目预检(只读;返回影响范围与活跃任务可执行动作)
      operationId: projectDeletionPreflight
      parameters:
        - name: retain_decks
          in: query
          required: false
          schema:
            type: boolean
            default: true
        - name: cancel_active_tasks
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: 预检是否展示“取消活跃任务并删除”动作;不修改数据
      responses:
        '200':
          description: 当前删除影响与阻塞任务
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionPreflight'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{project_id}/progress:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      summary: 项目真实学习进度聚合
      operationId: getProjectProgress
      responses:
        '200':
          description: 进度摘要
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProgressSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{project_id}/stats/weekly:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      summary: 当前项目周学习统计
      operationId: getProjectWeeklyStats
      responses:
        '200':
          description: 周统计
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectWeeklyStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{project_id}/decks/{deck_id}/attach:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/DeckId'
    post:
      tags: [projects]
      summary: 将独立牌组归入当前项目
      operationId: attachDeckToProject
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: 已归入项目
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deck'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{project_id}/materials:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      summary: 资料列表(各自状态;TEXT 附单章节)
      operationId: listProjectMaterials
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Material'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /projects/{project_id}/materials/pdf:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [projects]
      summary: 添加 PDF 资料(≤100MB、≤1000 页;异步解析;重置章节确认)
      operationId: addProjectMaterialPdf
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF 文件(文件魔数+扩展名+MIME 三重检查)
      responses:
        '201':
          description: 资料已添加,PDF 进入解析
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Material'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{project_id}/materials/text:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [projects]
      summary: 添加粘贴文本资料(≤30000 字;单章节+段落多 chunk;即时就绪;重置章节确认)
      operationId: addProjectMaterialText
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextMaterialCreateRequest'
      responses:
        '201':
          description: 资料已添加并就绪(附单一章节)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Material'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{project_id}/materials/{material_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: material_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      tags: [projects]
      summary: 删除资料(服务端静默取消引用该资料的活跃任务并 fencing;retain_cards 选择保留或一并删除该资料产出卡片;删最后一份资料后项目转 EMPTY)
      operationId: deleteProjectMaterial
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: retain_cards
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: true=保留该资料生成的卡片(章节归属置空);false=连同卡片与复习记录一并删除
      responses:
        '200':
          description: 已删除;返回更新后的项目(聚合状态)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningProject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{project_id}/replace-pdf:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [projects]
      summary: 仅 FAILED 的 PDF 资料可原位替换并重新解析(不影响项目内其他资料)
      operationId: replaceProjectPdf
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: 已替换并进入解析
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningProject'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{project_id}/chapters/{chapter_id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ChapterId'
    patch:
      tags: [projects]
      summary: 修改章节名称 / 起始页 / 结束页
      operationId: updateProjectChapter
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChapterUpdateRequest'
      responses:
        '200':
          description: 已更新
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chapter'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
    delete:
      tags: [projects]
      summary: 删除章节(活跃任务保护;保留卡时 chapter_id 置空)
      operationId: deleteProjectChapter
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: delete_cards
          in: query
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: 已删除
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{project_id}/confirm-chapters:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags: [projects]
      summary: 确认目录,使项目进入 READY
      operationId: confirmProjectChapters
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: 已确认
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningProject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/RateLimited'

  /projects/{project_id}/study-settings:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags: [projects]
      summary: 项目学习设置(新卡章节范围与未归属分组)
      operationId: getStudySettings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStudySettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [projects]
      summary: 更新项目学习设置
      operationId: updateStudySettings
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectStudySettingsUpdateRequest'
      responses:
        '200':
          description: 更新后的设置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectStudySettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ---------- PDF ----------
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: opaque
      description: opaque Bearer session token(注册/登录签发,服务端只存 SHA-256 摘要;决策 D-05)

  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: 幂等键,客户端生成;重复请求返回首次成功结果(见 structure-contract.md 1.3)
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DeleteBatchId:
      name: delete_batch_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RewriteId:
      name: rewrite_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    ChapterId:
      name: chapter_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TaskId:
      name: task_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    DeckId:
      name: deck_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CardId:
      name: card_id
      in: path
      required: true
      schema:
        type: string
        format: uuid

  schemas:
    # ---- 枚举 ----
    PdfStatus:
      type: string
      enum: [PENDING, PARSING, PARSED, FAILED]
    TaskStatus:
      type: string
      enum: [DRAFT, SAMPLE_GENERATING, AWAITING_SAMPLE_CONFIRMATION, GENERATING, COMPLETED, FAILED, ABANDONED]
      description: V2.5 七态(structure-contract 4.1);历史 PENDING→DRAFT、RUNNING→GENERATING、CANCELLED→ABANDONED、PAUSED→FAILED(LEGACY_PAUSED_TASK)
    TaskInternalStage:
      type: string
      enum: [PLANNING, GENERATING, SCORING, PUBLISHING]
      description: 运行期内部阶段观测;不直接作为用户状态
    FailureStage:
      type: string
      enum: [PLANNING, GENERATING, SCORING, PUBLISHING]
    CoverageMode:
      type: string
      enum: [COMPACT, BALANCED, EXTENSIVE]
      description: V2.5 覆盖深度(原 quantity_tendency):语义覆盖范围,不承诺数量
    Difficulty:
      type: string
      enum: [BASIC, UNDERSTANDING, DEEP_QUESTION]
      description: V2.5 难度(原 APPLICATION 改名 deep_question;历史数据迁移映射)
    KnowledgePointStatus:
      type: string
      enum: [PENDING, PROCESSED, SKIPPED]
    BatchStatus:
      type: string
      enum: [PENDING, PROCESSING, SUCCEEDED, FAILED, SKIPPED]
    DeckSource:
      type: string
      enum: [MANUAL, IMPORTED, GENERATED]
      description: GENERATED 为 PDF 制卡新建的归属牌组
    CardSource:
      type: string
      enum: [GENERATED, MANUAL, IMPORTED]
    CardType:
      type: string
      enum: [QUESTION, TRUE_FALSE]
    ReviewStateValue:
      type: string
      enum: [NEW, LEARNING, REVIEW, RELEARNING]
    Rating:
      type: string
      enum: [AGAIN, HARD, GOOD, EASY]
    ApiKeyStatus:
      type: string
      enum: [AVAILABLE, INVALID, INSUFFICIENT_BALANCE, UNKNOWN]
      description: 校验结果经 200 + status 返回,不产生错误响应;未保存 Key 时 UNKNOWN(契约 6.2)

    # ---- 资源模型(与 structure-contract.md 第 3 章一致)----
    Error:
      type: object
      required: [error]
      description: 统一错误响应,外层 error 包装(契约 1.4)
      properties:
        error:
          type: object
          required: [code, message, localization_key]
          properties:
            code:
              type: string
              description: 稳定错误码(见 structure-contract.md 第 7 章)
            message:
              type: string
              description: 面向用户的补充信息,不含内部细节
            localization_key:
              type: string
            actions:
              type: [array, 'null']
              items:
                type: string
              description: 可执行动作提示,如 ABANDON_AND_RETRY / VIEW_TASKS / WAIT_FOR_TERMINAL
            details:
              type: [object, 'null']
              additionalProperties: true

    ApiKey:
      type: object
      required: [status, masked_key, updated_at]
      properties:
        status:
          $ref: '#/components/schemas/ApiKeyStatus'
        masked_key:
          type: string
          description: 脱敏标识,如 sk-****abcd,禁止返回完整 Key(决策 D-03)
        updated_at:
          type: string
          format: date-time

    Chapter:
      type: object
      required: [chapter_id, material_id, name]
      properties:
        chapter_id:
          type: string
          format: uuid
        material_id:
          type: string
          format: uuid
          description: 归属学习资料(structure-contract 3.2a)
        name:
          type: string
        start_page:
          type: [integer, 'null']
          minimum: 1
          description: PDF 章节可修改;TEXT 章节为 null
        end_page:
          type: [integer, 'null']
          minimum: 1
          description: PDF 章节可修改;TEXT 章节为 null

    ChapterUpdateRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: 章节名称,可修改
        start_page:
          type: integer
          minimum: 1
        end_page:
          type: integer
          minimum: 1
      description: 至少提供一个字段;未提供的字段保持不变(PRD 5.2)

    PdfFile:
      type: object
      required: [file_id, filename, size_bytes, status, created_at]
      properties:
        file_id:
          type: string
          format: uuid
          description: 资料物证标识;V2.5 起与 material_id 同义(保留字段名兼容任务快照)
        filename:
          type: string
        size_bytes:
          type: integer
        status:
          $ref: '#/components/schemas/PdfStatus'
        error_code:
          type: [string, 'null']
          description: PDF_PARSE_FAILED / PDF_TOC_MISSING
        chapters:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/Chapter'
        created_at:
          type: string
          format: date-time

    MaterialType:
      type: string
      enum: [PDF, TEXT]
      description: LINK 为预留类型,本期不实现

    MaterialStatus:
      type: string
      enum: [PENDING, PARSING, PARSED, FAILED, READY]
      description: PDF 使用 PENDING/PARSING/PARSED/FAILED;TEXT 恒为 READY

    Material:
      type: object
      required: [material_id, project_id, type, name, status, created_at]
      properties:
        material_id:
          type: string
          format: uuid
        project_id:
          type: string
          format: uuid
        type:
          $ref: '#/components/schemas/MaterialType'
        name:
          type: string
          description: PDF=文件名;TEXT=用户可改标题(1~60 字符)
        status:
          $ref: '#/components/schemas/MaterialStatus'
        error_code:
          type: [string, 'null']
          description: 仅 PDF 解析失败码
        size_bytes:
          type: [integer, 'null']
          description: 仅 PDF
        char_count:
          type: [integer, 'null']
          description: 仅 TEXT;1~30000
        chapter:
          type: [object, 'null']
          description: 仅 TEXT:资料自带的单一章节
          $ref: '#/components/schemas/Chapter'
        created_at:
          type: string
          format: date-time
      description: 学习资料(structure-contract 3.2a);项目是资料集合,新增/删除任一资料重置章节确认

    TextMaterialCreateRequest:
      type: object
      required: [name, content]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 60
        content:
          type: string
          minLength: 1
          maxLength: 30000
          description: 去首尾空白后 1~30000 字;服务端按段落切分多 chunk,禁止整块单块

    DifficultyRatio:
      type: object
      required: [basic, understanding, deep_question]
      properties:
        basic:
          type: integer
          minimum: 0
          maximum: 100
          multipleOf: 10
          description: 基础记忆(10% 整数档,允许 0),默认 40
        understanding:
          type: integer
          minimum: 0
          maximum: 100
          multipleOf: 10
          description: 理解分析(10% 整数档,允许 0),默认 40
        deep_question:
          type: integer
          minimum: 0
          maximum: 100
          multipleOf: 10
          description: 开放深问(10% 整数档,允许 0),默认 20
      description: 三档合计必须为 100;比例为 0 的难度不生成单元和样卡

    GenerationConfig:
      type: object
      required: [coverage_mode, difficulty_ratio]
      properties:
        coverage_mode:
          $ref: '#/components/schemas/CoverageMode'
        difficulty_ratio:
          $ref: '#/components/schemas/DifficultyRatio'
        custom_requirements:
          type: [string, 'null']

    TaskCursor:
      type: object
      required: [completed_batch_count]
      properties:
        completed_batch_count:
          type: integer

    Task:
      type: object
      required:
        - task_id
        - project_id
        - file_id
        - deck_id
        - status
        - selected_chapters
        - generation_config
        - generated_card_count
        - skipped_planning_group_count
        - resumable
        - created_at
        - updated_at
      properties:
        task_id:
          type: string
          format: uuid
        project_id:
          type: [string, 'null']
          format: uuid
          description: 归属项目;新任务必填,null 只兼容迁移前已失去 PDF 的终态历史任务(只读,不可重试)
        file_id:
          type: [string, 'null']
          format: uuid
          description: 任务创建时锁定的 PDF 资料(material_id 同义);纯文本项目任务为 null;删除被引用资料时任务被服务端静默取消
        deck_id:
          type: [string, 'null']
          format: uuid
          description: 新任务必填(同项目);删除牌组后置 null(任务保留)
        retry_of_task_id:
          type: [string, 'null']
          format: uuid
          description: 失败重试关联(只指向同用户失败任务)
        operation_id:
          type: [string, 'null']
          format: uuid
          description: 持久化生成操作标识;用于跨请求/重启后的任务对账
        status:
          $ref: '#/components/schemas/TaskStatus'
        internal_stage:
          $ref: '#/components/schemas/TaskInternalStage'
          description: 运行期内部阶段观测,不直接作为用户状态
        selected_chapters:
          type: array
          items:
            $ref: '#/components/schemas/Chapter'
          description: 开始正式生成前冻结快照(契约 4.1)
        generation_config:
          $ref: '#/components/schemas/GenerationConfig'
        sample_cards:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/SampleCard'
          description: 持久化 1~3 张样卡;配置变化时清空
        sample_config_hash:
          type: [string, 'null']
        sample_confirmed_at:
          type: [string, 'null']
          format: date-time
        cursor:
          $ref: '#/components/schemas/TaskCursor'
        generated_card_count:
          type: integer
          description: 只统计已发布卡;失败任务为 0
        total_batch_count:
          type: [integer, 'null']
        completed_batch_count:
          type: [integer, 'null']
        completion_reason:
          type: [string, 'null']
          description: NO_GENERATION_UNITS(全组规划成功但 0 个合法单元的业务空结果,COMPLETED)
        skipped_planning_group_count:
          type: integer
          description: 部分规划组失败被跳过的组数(仅部分成功时 > 0)
        resumable:
          type: boolean
          description: 内部租约恢复判定(用户侧无 resume API)
        failure_stage:
          $ref: '#/components/schemas/FailureStage'
        error_code:
          type: [string, 'null']
        created_at:
          type: string
          format: date-time
        started_at:
          type: [string, 'null']
          format: date-time
        ended_at:
          type: [string, 'null']
          format: date-time
        updated_at:
          type: string
          format: date-time

    TaskCreateRequest:
      type: object
      required: [deck_id, chapter_ids, generation_config]
      properties:
        deck_id:
          type: string
          format: uuid
          description: 目标牌组(必须属于同一项目)
        chapter_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        generation_config:
          $ref: '#/components/schemas/GenerationConfig'
      description: 建立 DRAFT 任务(project_id 取自路径);请求中不携带 API Key,服务端使用已保存 Key

    TaskUpdateRequest:
      type: object
      properties:
        deck_id:
          type: string
          format: uuid
          description: 目标牌组(必须属于同一项目)
        chapter_ids:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
        generation_config:
          $ref: '#/components/schemas/GenerationConfig'
      description: 仅 DRAFT/AWAITING_SAMPLE_CONFIRMATION 可改;修改后样卡失效(sample_cards/sample_config_hash/sample_confirmed_at 清空)

    SampleCard:
      type: object
      required: [card_id, front, back, card_type]
      properties:
        card_id:
          type: string
          format: uuid
        front:
          type: string
        back:
          type: string
        code:
          type: [string, 'null']
          description: 卡片编号
        card_type:
          type: string
          enum: [QUESTION, TRUE_FALSE]
        question:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        answer:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        statement:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡
        answer_boolean:
          type: [boolean, 'null']
          description: 仅 TRUE_FALSE 卡
        explanation:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡
        target_difficulty:
          type: [string, 'null']
          enum: [BASIC, UNDERSTANDING, DEEP_QUESTION]
          description: 生成时目标难度

    KnowledgePoint:
      type: object
      description: 内部资源(契约 3.6 生成单元;表名保持 knowledge_points 兼容壳);本期无独立接口,经任务详情与批次观测间接呈现。规划锚定列(target_difficulty/card_type/source_chunk_ids)与学习目标(topic 列语义)在内部表中,视图仅承载观测七字段
      required:
        - knowledge_point_id
        - task_id
        - chapter_id
        - source_chunk_id
        - topic
        - priority
        - status
      properties:
        knowledge_point_id:
          type: string
          format: uuid
        task_id:
          type: string
          format: uuid
        chapter_id:
          type: string
          format: uuid
        source_chunk_id:
          type: string
        topic:
          type: string
        priority:
          type: integer
        status:
          $ref: '#/components/schemas/KnowledgePointStatus'

    Batch:
      type: object
      description: 内部资源(契约 3.7;批=生成单元,每单元 1 批 1 次生成调用,每单元 1 卡);经 GET /v1/tasks/{task_id}/batches 观测返回(契约 6.9)。generation_unit_id 为内部列(观测归因用),视图不返回;尝试数与 token 权威在 llm_call_attempts 账本,Batch token/版本列为生成阶段兼容投影
      required: [batch_id, task_id, batch_index, status, retry_count]
      properties:
        batch_id:
          type: string
          format: uuid
        task_id:
          type: string
          format: uuid
        batch_index:
          type: integer
        status:
          $ref: '#/components/schemas/BatchStatus'
        generated_item_ids:
          type: [array, 'null']
          items:
            type: string
        retry_count:
          type: integer
        coverage_rate:
          type: [number, 'null']
        duplicate_rate:
          type: [number, 'null']
        difficulty_distribution:
          type: [object, 'null']
        chapter_distribution:
          type: [object, 'null']
        card_type_distribution:
          type: [object, 'null']
        cache_hit_tokens:
          type: [integer, 'null']
        cache_miss_tokens:
          type: [integer, 'null']
        output_tokens:
          type: [integer, 'null']
        difficulty_deviation:
          type: [number, 'null']
        request_id:
          type: [string, 'null']
        model:
          type: [string, 'null']
        prompt_version:
          type: [string, 'null']
        schema_version:
          type: [string, 'null']
        rubric_version:
          type: [string, 'null']
        duration_ms:
          type: [integer, 'null']
        http_status:
          type: [integer, 'null']
        cost_estimate:
          type: [number, 'null']
          description: 估算金额(元, 按生效日期价格常量换算, 仅观测不落库; 契约 8.4)
        created_at:
          type: string
          format: date-time
        ended_at:
          type: [string, 'null']
          format: date-time

    Deck:
      type: object
      required:
        - deck_id
        - name
        - source
        - card_count
        - due_count
        - mastered_card_count
        - review_count
        - mastery_ratio
        - created_at
        - updated_at
        - version
      properties:
        deck_id:
          type: string
          format: uuid
        name:
          type: string
        source:
          $ref: '#/components/schemas/DeckSource'
        project_id:
          type: [string, 'null']
          format: uuid
          description: 归属学习项目;null = 手动/独立牌组
        card_count:
          type: integer
        due_count:
          type: integer
        mastered_card_count:
          type: integer
        review_count:
          type: integer
        mastery_ratio:
          type: number
          description: mastered_card_count / card_count,card_count 为 0 时为 0
        not_started_count:
          type: integer
        learning_count:
          type: integer
        relearning_count:
          type: integer
        consolidating_count:
          type: integer
        mastered_count:
          type: integer
        review_event_count:
          type: integer
        last_studied_at:
          type: [string, 'null']
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        version:
          type: string
          description: 版本号,客户端刷新缓存用

    Card:
      type: object
      required:
        - card_id
        - deck_id
        - source
        - position
        - front
        - back
        - card_type
        - version
        - created_at
        - updated_at
      properties:
        card_id:
          type: string
          format: uuid
        deck_id:
          type: string
          format: uuid
        source:
          $ref: '#/components/schemas/CardSource'
        position:
          type: integer
        front:
          type: string
        back:
          type: string
        code:
          type: [string, 'null']
        card_type:
          $ref: '#/components/schemas/CardType'
        question:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        answer:
          type: [string, 'null']
          description: 仅 QUESTION 卡
        statement:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡(决策 D-01)
        answer_boolean:
          type: [boolean, 'null']
          description: 仅 TRUE_FALSE 卡
        explanation:
          type: [string, 'null']
          description: 仅 TRUE_FALSE 卡
        generation_item_id:
          type: [string, 'null']
          description: 仅 GENERATED 卡;同一值最多对应一张有效卡片
        source_task_id:
          type: [string, 'null']
          format: uuid
          description: 生成来源任务;删历史保留卡时置空
        chapter_id:
          type: [string, 'null']
          format: uuid
          description: 源章节;null 显示"未归属章节"
        publication_state:
          type: string
          enum: [STAGED, PUBLISHED]
          description: STAGED 卡对任何用户侧查询不可见(任务整体成功前)
        delete_batch_id:
          type: [string, 'null']
          format: uuid
          description: 非空表示 10 秒待删除(可见谓词排除)
        pending_delete_at:
          type: [string, 'null']
          format: date-time
        undo_until:
          type: [string, 'null']
          format: date-time
        target_difficulty:
          type: [string, 'null']
          enum: [BASIC, UNDERSTANDING, DEEP_QUESTION]
          description: 仅 GENERATED 卡;生成时目标难度;手动/导入为 null
        knowledge_point_ids:
          type: [array, 'null']
          items:
            type: string
            format: uuid
          description: 仅 GENERATED 卡;关联知识点,综合应用卡可多个(PRD 5.6)
        evidence_score:
          type: [integer, 'null']
          description: Rubric 原文依据 0~3,仅 GENERATED 卡
        correctness_score:
          type: [integer, 'null']
          description: Rubric 答案正确性 0~3,仅 GENERATED 卡
        difficulty_score:
          type: [integer, 'null']
          description: Rubric 难度匹配 0~3,仅 GENERATED 卡
        learning_value_score:
          type: [integer, 'null']
          description: Rubric 学习价值 0~3,仅 GENERATED 卡
        rubric_total_score:
          type: [integer, 'null']
          description: Rubric 总分 0~12,仅 GENERATED 卡
        version:
          type: string
          description: 变更版本,客户端缓存刷新用(重写时递增,决策 C-05)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ReviewState:
      type: object
      required:
        - review_state_id
        - card_id
        - state
        - stability
        - difficulty
        - due
        - reps
        - lapses
        - updated_at
      properties:
        review_state_id:
          type: string
          format: uuid
        card_id:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/ReviewStateValue'
        stability:
          type: number
          description: FSRS 稳定性(天)
        difficulty:
          type: number
          description: FSRS 难度(0~10)
        due:
          type: string
          format: date-time
          description: 下次到期时间(服务端时间)
        last_review:
          type: [string, 'null']
          format: date-time
        reps:
          type: integer
        lapses:
          type: integer
        last_rating:
          $ref: '#/components/schemas/Rating'
        updated_at:
          type: string
          format: date-time

    ReviewEvent:
      type: object
      required: [review_event_id, client_event_id, card_id, rating, reviewed_at, created_at]
      properties:
        review_event_id:
          type: string
          format: uuid
        client_event_id:
          type: string
          format: uuid
          description: 客户端生成,设备内唯一,离线重试幂等
        card_id:
          type: string
          format: uuid
        rating:
          $ref: '#/components/schemas/Rating'
        reviewed_at:
          type: string
          format: date-time
          description: 服务端时间
        device_timezone:
          type: [string, 'null']
          description: 降级为可空审计字段,不参与权威统计
        created_at:
          type: string
          format: date-time
      description: 不可变记录(契约 3.11);本期无查询接口,评级提交时服务端内部使用

    ReviewEventRequest:
      type: object
      required: [card_id, rating, client_event_id]
      properties:
        card_id:
          type: string
          format: uuid
        rating:
          $ref: '#/components/schemas/Rating'
        client_event_id:
          type: string
          format: uuid
          description: 客户端生成,设备内唯一,离线重试幂等

    ReviewQueueItem:
      allOf:
        - $ref: '#/components/schemas/Card'
        - type: object
          required: [review_state]
          properties:
            review_state:
              $ref: '#/components/schemas/ReviewState'

    StatsDashboard:
      type: object
      required:
        - period
        - timezone
        - weekly_activity
        - weekly_total
        - weekly_completed_count
        - week_change_rate
        - weekly_goal
        - weekly_goal_progress
        - recall_accuracy
        - first_answer_accuracy
        - retention_rate
        - streak_days
        - mastered_card_count
        - updated_at
        - has_data
      properties:
        period:
          type: object
          required: [start, end, week_ordinal]
          properties:
            start:
              type: string
              format: date-time
            end:
              type: string
              format: date-time
            week_ordinal:
              type: integer
        timezone:
          type: string
          description: 实际分桶时区 = 账号学习时区
        weekly_activity:
          type: array
          minItems: 7
          maxItems: 7
          items:
            type: integer
          description: 周一~周日每日复习事件数(按学习时区分桶)
        weekly_total:
          type: integer
        weekly_completed_count:
          type: integer
          description: 本周不同 (账号学习日期, card_id) 数(去重)
        week_change_rate:
          type: [number, 'null']
          description: 上周为 0 时返回 null(客户端显示"暂无对比")
        weekly_goal:
          type: integer
          description: 账号看板兼容字段；项目周统计按每日新学与每日巩固目标之和 × 7 派生
        weekly_goal_progress:
          type: number
          description: min(weekly_completed_count / weekly_goal, 1)
        updated_at:
          type: string
          format: date-time
          description: 聚合快照生成时间(PRD 6.6,客户端据此判断缓存过期)
        recall_accuracy:
          type: [number, 'null']
          description: 周期内 GOOD 事件 / 全部事件,分母为 0 时 null
        first_answer_accuracy:
          type: [number, 'null']
          description: 首次评级为 GOOD 的卡数 / 首次复习卡数,分母为 0 时 null
        retention_rate:
          type: [number, 'null']
          description: 非首次事件中 GOOD 数 / 非首次事件数,分母为 0 时 null
        streak_days:
          type: integer
          description: 截至用户本地当天连续有复习事件的自然日数;按本次请求 timezone 分桶,不按各事件 device_timezone
        mastered_card_count:
          type: integer
          description: 掌握卡片数(state=REVIEW 且 stability>=21 天)
        has_data:
          type: boolean
          description: false 时客户端展示空态
    QualitySummary:
      type: object
      properties:
        group_by:
          type: string
          description: model=batch.model;pdf=任务 file_id;difficulty=Batch.generation_unit_id 对应单元的 target_difficulty(单元缺失/锚定缺失为 unknown)
        groups:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
              rubric_version:
                type: [string, 'null']
                description: 分组按批次 rubric_version 拆子组;跨版本窗口不混算(null 为无评分版本批次)
              card_count:
                type: integer
                description: 经批次归属的卡数(= eligible_card_count)
              eligible_card_count:
                type: integer
                description: 评分样本候选卡数(经批次归属)
              scored_card_count:
                type: integer
                description: rubric_total_score 非 NULL 的卡数(已被评分口径)
              sampling_rate:
                type: [number, 'null']
                description: scored_card_count / eligible_card_count;分母 0 时为 null
              evidence_avg:
                type: number
                format: float
                description: 仅以 evidence_score 非 NULL 的卡为分母(NULL 不计 0 分)
              correctness_avg:
                type: number
                format: float
              difficulty_avg:
                type: number
                format: float
              learning_value_avg:
                type: number
                format: float
              coverage_avg:
                type: number
                format: float
                description: 含 SKIPPED 批次(coverage=0 计入分母)
              duplicate_avg:
                type: number
                format: float
              task_completion_rate:
                type: number
                format: float
              cost_estimate:
                type: object
                properties:
                  cache_hit:
                    type: number
                    description: 估算金额(元)
                  cache_miss:
                    type: number
                  output:
                    type: number
                  total:
                    type: number
                  scope:
                    type: string
                    description: 恒为 generation-stage-only(Batch token 为生成阶段兼容投影,非全链路成本)
        days:
          type: integer
        generated_at:
          type: string
    # ---- 账号(V2.2,决策 D-05;结构契约 3.14/3.15) ----
    AuthRegisterRequest:
      type: object
      required: [username, email, password]
      properties:
        username:
          type: string
          minLength: 1
          maxLength: 24
          description: 展示名（中文/字母/数字/._-，可重名）
        email:
          type: string
          minLength: 3
          maxLength: 254
          description: 登录键；服务端转小写规范化
        password:
          type: string
          minLength: 8
          maxLength: 128
          format: password
          description: 8~128 字符,不截断、不 normalization
    AuthLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          minLength: 3
          maxLength: 254
        password:
          type: string
          minLength: 8
          maxLength: 128
          format: password
    AuthUser:
      type: object
      required: [user_id, username, email, avatar_key, created_at]
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
          description: 1~24 位展示名，中文/字母/数字/._-，可重名
        email:
          type: string
          description: 只读返回规范化后的当前登录邮箱,不可 PATCH
        avatar_key:
          type: string
          enum: [mood_01, mood_02, mood_03, mood_04, mood_05, mood_06, mood_07, mood_08, mood_09, mood_10, mood_11, mood_12]
          description: 系统预设头像,只接受内置预设;默认 mood_01
        created_at:
          type: string
          description: ISO 8601 UTC(结构契约 1.2)
    AuthMeUpdateRequest:
      type: object
      properties:
        username:
          type: string
          minLength: 1
          maxLength: 24
          description: 展示名(中文/字母/数字/._-)
        avatar_key:
          type: string
          enum: [mood_01, mood_02, mood_03, mood_04, mood_05, mood_06, mood_07, mood_08, mood_09, mood_10, mood_11, mood_12]
      description: 至少提供一个字段;email 只读不可改
    AuthSessionResponse:
      type: object
      required: [user, access_token, token_type, expires_at]
      properties:
        user:
          $ref: '#/components/schemas/AuthUser'
        access_token:
          type: string
          description: 256-bit 随机 opaque token;仅本响应与客户端安全存储出现
        token_type:
          type: string
          enum: [Bearer]
        expires_at:
          type: string
          description: 会话绝对过期时间(签发 + 30 天,ISO 8601 UTC)

    # ---- V2.5 新增资源 ----
    UserPreferences:
      type: object
      required:
        - default_coverage_mode
        - default_difficulty_ratio
        - daily_learning_goal
        - learning_timezone
        - current_project_id
        - updated_at
      properties:
        default_coverage_mode:
          $ref: '#/components/schemas/CoverageMode'
        default_difficulty_ratio:
          $ref: '#/components/schemas/DifficultyRatio'
        daily_learning_goal:
          type: integer
          minimum: 10
          maximum: 200
          multipleOf: 10
          description: 旧账号兼容偏好；新项目的每日新学/巩固目标由 StudyPlan 保存
        learning_timezone:
          type: string
          description: 有效 IANA 时区,账号级权威
        current_project_id:
          type: [string, 'null']
          format: uuid
          description: 当前学习项目;项目删除时服务端置空
        updated_at:
          type: string
          format: date-time

    UserPreferencesUpdateRequest:
      type: object
      properties:
        default_coverage_mode:
          $ref: '#/components/schemas/CoverageMode'
        default_difficulty_ratio:
          $ref: '#/components/schemas/DifficultyRatio'
        daily_learning_goal:
          type: integer
          minimum: 10
          maximum: 200
          multipleOf: 10
          description: 旧账号兼容偏好；新项目的每日新学/巩固目标由 StudyPlan 保存
        learning_timezone:
          type: string
          description: 有效 IANA 时区
        current_project_id:
          type: [string, 'null']
          format: uuid
      description: 部分更新(last-success-wins);比例/目标/IANA 时区服务端校验(400 INVALID_PREFERENCES / INVALID_LEARNING_TIMEZONE)

    ProjectStatus:
      type: string
      enum: [EMPTY, PARSING, PARSE_FAILED, AWAITING_CHAPTER_CONFIRMATION, READY]
      description: 由资料状态与章节确认状态聚合派生(structure-contract 3.16):无资料=EMPTY;任一 PDF PARSING/PENDING=PARSING;有可用章节来源且未确认=AWAITING_CHAPTER_CONFIRMATION;确认后=READY;全部 PDF FAILED 且无可用章节=PARSE_FAILED

    LearningProject:
      type: object
      required:
        - project_id
        - name
        - materials
        - status
        - chapter_count
        - deck_count
        - task_count
        - created_at
        - updated_at
        - version
      properties:
        project_id:
          type: string
          format: uuid
        name:
          type: string
          description: 去首尾空白后 1~60 字符,可重名
        materials:
          type: array
          description: 资料集合摘要(structure-contract 3.2a);空数组=空项目;列表响应可只返回摘要
          items:
            $ref: '#/components/schemas/Material'
        status:
          $ref: '#/components/schemas/ProjectStatus'
        chapter_count:
          type: integer
        deck_count:
          type: integer
        task_count:
          type: integer
        tasks:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/Task'
          description: 项目详情返回的任务快照;列表响应可省略
        chapters:
          type: [array, 'null']
          items:
            $ref: '#/components/schemas/Chapter'
          description: 项目详情返回的跨资料章节列表;列表响应可省略
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        version:
          type: string
          description: 缓存刷新与并发检查;状态终态跃迁(解析/任务,契约 4.5)必刷新

    ProjectStudySettings:
      type: object
      required: [selected_new_card_chapter_ids, include_unassigned, selected_deck_ids, daily_new_goal, daily_review_goal, updated_at]
      properties:
        selected_new_card_chapter_ids:
          type: array
          items:
            type: string
            format: uuid
          description: 只限制新卡;空数组表示暂无新卡范围
        include_unassigned:
          type: boolean
          description: 是否包含 chapter_id=null 的新卡
        selected_deck_ids:
          type: array
          items:
            type: string
            format: uuid
          description: 今日学习计划选中的卡组；空数组表示尚未配置
        daily_new_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10
        daily_review_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10
        updated_at:
          type: string
          format: date-time

    ProjectStudySettingsUpdateRequest:
      type: object
      properties:
        selected_new_card_chapter_ids:
          type: array
          items:
            type: string
            format: uuid
        include_unassigned:
          type: boolean
        selected_deck_ids:
          type: array
          items:
            type: string
            format: uuid
        daily_new_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10
        daily_review_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10

    StudyPlan:
      type: object
      required: [configured, current_project_id, selected_deck_ids, daily_new_goal, daily_review_goal]
      properties:
        configured:
          type: boolean
        current_project_id:
          type: [string, 'null']
          format: uuid
        selected_deck_ids:
          type: array
          items:
            type: string
            format: uuid
        daily_new_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10
        daily_review_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10
        updated_at:
          type: [string, 'null']
          format: date-time

    StudyPlanUpdateRequest:
      type: object
      required: [project_id, selected_deck_ids, daily_new_goal, daily_review_goal]
      properties:
        project_id:
          type: string
          format: uuid
          description: 当前项目
        selected_deck_ids:
          type: array
          items:
            type: string
            format: uuid
          minItems: 1
        daily_new_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10
        daily_review_goal:
          type: integer
          minimum: 0
          maximum: 200
          multipleOf: 10

    ProgressSummary:
      type: object
      required: [card_count, not_started_count, learning_count, relearning_count, consolidating_count, mastered_count, due_count, review_event_count, last_studied_at]
      properties:
        card_count:
          type: integer
        not_started_count:
          type: integer
        learning_count:
          type: integer
        relearning_count:
          type: integer
        consolidating_count:
          type: integer
        mastered_count:
          type: integer
        due_count:
          type: integer
        review_event_count:
          type: integer
        last_studied_at:
          type: [string, 'null']
          format: date-time

    ProjectWeeklyStats:
      type: object
      required: [project_id, period_start, period_end, timezone, weekly_activity, weekly_total, weekly_completed_count, weekly_new_goal, weekly_review_goal, weekly_goal, weekly_goal_progress, new_completed_count, review_completed_count, updated_at]
      properties:
        project_id:
          type: string
          format: uuid
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        timezone:
          type: string
        weekly_activity:
          type: array
          items:
            type: integer
        weekly_total:
          type: integer
        weekly_completed_count:
          type: integer
        weekly_new_goal:
          type: integer
        weekly_review_goal:
          type: integer
        weekly_goal:
          type: integer
        weekly_goal_progress:
          type: [number, 'null']
        new_completed_count:
          type: integer
        review_completed_count:
          type: integer
        updated_at:
          type: string
          format: date-time

    DeletionTaskBlocker:
      type: object
      required: [task_id, status, can_abandon, can_cancel, allowed_actions]
      properties:
        task_id:
          type: string
          format: uuid
        status:
          $ref: '#/components/schemas/TaskStatus'
        internal_stage:
          type: [string, 'null']
          enum: [PLANNING, GENERATING, SCORING, PUBLISHING, null]
        project_id:
          type: [string, 'null']
          format: uuid
        deck_id:
          type: [string, 'null']
          format: uuid
        can_abandon:
          type: boolean
        can_cancel:
          type: boolean
          description: 是否可随资源删除一并取消
        allowed_actions:
          type: array
          items:
            type: string
            enum: [ABANDON_AND_RETRY, CANCEL_AND_DELETE, WAIT_FOR_TERMINAL, VIEW_TASKS]

    DeletionPreflight:
      type: object
      required: [resource_type, resource_id, can_delete, blockers, abandonable_task_ids, has_uncancellable_tasks, cancelable_task_ids, can_cancel, actions, impact]
      properties:
        resource_type:
          type: string
          enum: [PROJECT, DECK]
        resource_id:
          type: string
          format: uuid
        can_delete:
          type: boolean
        blockers:
          type: array
          items:
            $ref: '#/components/schemas/DeletionTaskBlocker'
        abandonable_task_ids:
          type: array
          items:
            type: string
            format: uuid
        has_uncancellable_tasks:
          type: boolean
        cancelable_task_ids:
          type: array
          items:
            type: string
            format: uuid
          description: 可随资源一并取消的活跃制卡任务
        can_cancel:
          type: boolean
          description: 是否允许采用取消任务后删除的决策
        actions:
          type: array
          items:
            type: string
            enum: [ABANDON_AND_RETRY, CANCEL_AND_DELETE, WAIT_FOR_TERMINAL, VIEW_TASKS]
        impact:
          type: object
          additionalProperties: true

    DeletionBatchStatus:
      type: string
      enum: [PENDING, UNDONE, FINALIZED]

    CardDeletionBatch:
      type: object
      required: [delete_batch_id, card_ids, undo_until, status, created_at, updated_at]
      properties:
        delete_batch_id:
          type: string
          format: uuid
        card_ids:
          type: array
          items:
            type: string
            format: uuid
          description: 服务端返回;数据库以 Cards 外键关系为权威
        undo_until:
          type: string
          format: date-time
          description: 服务端接受最后一次追加后 10 秒
        status:
          $ref: '#/components/schemas/DeletionBatchStatus'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RewritePreviewStatus:
      type: string
      enum: [PENDING, APPLIED, CANCELLED, EXPIRED]

    CardRewritePreview:
      type: object
      required:
        - rewrite_id
        - card_id
        - base_card_version
        - front
        - back
        - card_type
        - target_difficulty
        - status
        - expires_at
        - created_at
      properties:
        rewrite_id:
          type: string
          format: uuid
        card_id:
          type: string
          format: uuid
        base_card_version:
          type: string
          description: 应用时乐观并发校验(CAS)
        front:
          type: string
        back:
          type: string
        card_type:
          $ref: '#/components/schemas/CardType'
        target_difficulty:
          type: [string, 'null']
          enum: [BASIC, UNDERSTANDING, DEEP_QUESTION]
        custom_requirements:
          type: [string, 'null']
          description: 不保存完整 Prompt
        status:
          $ref: '#/components/schemas/RewritePreviewStatus'
        expires_at:
          type: string
          format: date-time
          description: 24 小时(实现常量统一)
        created_at:
          type: string
          format: date-time

    TodayPlanCard:
      allOf:
        - $ref: '#/components/schemas/Card'
        - type: object
          properties:
            review_state:
              $ref: '#/components/schemas/ReviewState'
            forgetting_risk:
              type: number
              description: 统一 FSRS 适配器按服务端 now 计算;无法计算时置 0
            plan_kind:
              type: [string, 'null']
              enum: [DUE, NEW, null]

    TodayStudyPlan:
      type: object
      required:
        - timezone
        - study_date
        - current_project
        - daily_goal
        - today_completed_count
        - due_count
        - main_plan_remaining
        - backlog_count
        - cards
      properties:
        timezone:
          type: string
          description: 账号学习时区
        study_date:
          type: string
          format: date
          description: 账号学习时区下的学习日期
        current_project:
          anyOf:
            - $ref: '#/components/schemas/LearningProject'
            - type: 'null'
          description: 无当前项目时返回 null(空态)
        daily_goal:
          type: integer
          description: 当天实际核心队列目标（新学 + 巩固）；可用卡不足时按实际队列收敛
        today_completed_count:
          type: integer
          description: 今日去重完成数(同一 (账号学习日期, card_id) 只计一次)
        due_count:
          type: integer
        main_plan_remaining:
          type: integer
        backlog_count:
          type: integer
          description: 到期总数超出每日目标的部分
        cards:
          type: array
          items:
            $ref: '#/components/schemas/TodayPlanCard'
          description: 有序卡片列表(到期卡按遗忘风险、逾期时长、card_id;新卡按 deck_id、position、card_id)
        daily_new_goal:
          type: integer
        daily_review_goal:
          type: integer
        new_completed_count:
          type: integer
        review_completed_count:
          type: integer
        new_remaining_count:
          type: integer
        review_remaining_count:
          type: integer
        core_target_count:
          type: integer
        plan_configured:
          type: boolean
        selected_deck_ids:
          type: array
          items:
            type: string
            format: uuid

  responses:
    BadRequest:
      description: 请求非法
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: >-
        受保护接口:缺失、非法、撤销或过期的 Bearer 会话(AUTH_REQUIRED / AUTH_INVALID,携带 WWW-Authenticate: Bearer);
        登录接口:凭据错误(INVALID_CREDENTIALS)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: 资源不存在
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: 状态冲突或幂等内容不一致
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unprocessable:
      description: 业务校验失败(如 PDF_TOC_MISSING、API_KEY_INVALID)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: 限流
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
